/* ==========================================================================
    Module Fonts
========================================================================== */
$base-font-path   : "../fonts";
$font-version     : "1.1";
$arrows-font      : "Arrows";
$roboto-family    : "Roboto";

/* Roboto font */
@font-face {
    font-family: $roboto-family;
    src: url("#{$base-font-path}/Roboto-Thin.ttf?v=#{$font-version}") format("truetype");
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: $roboto-family;
    src: url("#{$base-font-path}/Roboto-Light.ttf?v=#{$font-version}") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $roboto-family;
    src: url("#{$base-font-path}/Roboto-Bold.ttf?v=#{$font-version}") format("truetype");
    font-weight: bold;
    font-style: normal;
}