
// Colors
// -------------------------------

$light:                           #fff;
$stable:                          #f8f8f8;
$positive:                        #387ef5;
$calm:                            #11c1f3;
$balanced:                        #33cd5f;
$energized:                       #ffc900;
$assertive:                       #ef473a;
$royal:                           #886aea;
$dark:                            #444;


// Base
// -------------------------------

$font-family-sans-serif:          "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$font-family-light-sans-serif:    "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light;
$font-family-serif:               serif;
$font-family-monospace:           monospace;
$font-family-roboto:              "Roboto";

$font-family-base:                $font-family-roboto;
$font-size-base:                  16px;
$font-size-large:                 20px;
$font-size-small:                 14px;

$line-height-base:                1.428571429; // 20/14
$line-height-computed:            floor($font-size-base * $line-height-base); // ~20px
$line-height-large:               1.33;
$line-height-small:               1.5;

$headings-font-family:            $font-family-roboto;

$headings-font-weight:            700;
$headings-line-height:            1.2;

$base-background-color:           #fff;
$base-color:                      #000;

$link-color:                      $positive;
$link-hover-color:                darken($link-color, 15%);

$content-padding:                 10px;

$padding-base-vertical:           6px;
$padding-base-horizontal:         12px;

$padding-large-vertical:          10px;
$padding-large-horizontal:        16px;

$padding-small-vertical:          5px;
$padding-small-horizontal:        10px;

$border-radius-base:              4px;
$border-radius-large:             6px;
$border-radius-small:             3px;
