<ion-view>
	<ion-content class="landing-bg">
		<div class="brand">
			<div class="limiter">
				<figure class="logo-home">
					<img src="images/logo-home.png" alt="Logo Datea.pe"/>
				</figure>
				<h3>¡Ya casi eres datero@!</h3>
			</div>
		</div>

		<div class="login">
			<div class="limiter">
				<ol class="instructions">
					<li>Sigue las instrucciones en el correo que te hemos enviado.</li>
					<li>Una vez activada tu cuenta, pulsa el bot&oacute;n abajo para acceder a la aplicaci&oacute;n</li>
				</ol>
			</div>

			<div class="options">
				<div class="row">
					<div class="col col-25"></div>
					<div class="col col-50">
						<a class="button button-block button-balanced icon-right ion-log-in" ui-sref="signIn">Iniciar</a>
					</div>
					<div class="col col-25"></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
