<ion-view class="page" ng-hide="!nav.pages.show">
	<ion-content class="campaigns-view" delegate-handle="campaignScroll">
		<div class="search-form">
			  <label class="item item-input">
			    <i class="icon ion-ios-search-strong placeholder-icon"></i>
			    <input type="text" ng-model="query.search" placeholder="Buscar frase" ng-enter="flow.doQuery();">
			  </label>
			  <div class="item item-input item-select actions">
			  	<select ng-model="query.category" ng-options="category.id as category.name for category in flow.categories" ng-change="flow.doQuery();"></select>
          <div class="num-hits" ng-show="data.numHits > 0">{{data.numHits}} resultado<span ng-show="data.numHits > 1">s</span></div>
			  </div>
		</div>

		<div class="results">

			<div class="no-results" ng-show="data.noResults">Sin resultados <i class="fa fa-meh-o"></i><br>Vuélvelo a intentar.</div>

			<div class="list campaign-list">
				<div class="campaign-entry" ng-repeat="campaign in data.campaigns track by campaign.id">
					<div class="item item-thumbnail-left" ng-click="flow.showCampaignDetail($index)">
						<img ng-src="{{::campaign.image.image | campaignImg}}" />
						<h2>{{::campaign.name}}</h2>
						<div>
							<div class="tag">#{{::campaign.main_tag.tag}}</div>
							<div class="user">por {{::campaign.user.username}}</div>
							<div class="stats">
								<span class="stat-dateos" ng-show="campaign.main_tag.dateo_count"><i class="icon-burbuja"></i> {{::campaign.main_tag.dateo_count}} dateo<span ng-show="campaign.main_tag.dateo_count > 1">s</span></span>
								<span class="stat-followers" ng-show="campaign.main_tag.follow_count"><i class="icon ion-android-person"></i> {{::campaign.main_tag.follow_count}} seguidor<span ng-show="campaign.main_tag.follow_count > 1">es</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="load-more" ng-show="data.campaigns.length < data.numHits">
				<button class="button button-outline button-stable" ng-click="flow.loadMore()">
				  Ver más resultados
				</button>
			</div>
		</div>
	</ion-content>

	<div ui-view="campaignDetail"></div>
</ion-view>
