<ion-view>
	<ion-content class="landing-bg">
		<div class="brand">
			<div class="limiter">
				<figure class="logo-home">
					<img src="images/logo-home.png" alt="Logo Datea.pe"/>
				</figure>
				<h4 class="brand-subtitle">Recuperar Contrase&ntilde;a</h4>
			</div>
		</div>

		<div class="login">
			<div class="limiter">
				<ul class="instructions">
					<li>Ahora abre tu correo y sigue las instrucciones.</li>
					<li>Cuando hayas ingresado tu nueva contraseña podrás ingresar a tu cuenta aquí.</li>
				</ul>
			</div>

			<div class="options">
				<div class="row">
					<div class="col col-25"></div>
					<div class="col col-50">
						<a class="button button-block button-balanced icon-right ion-log-in" ui-sref="signIn">Iniciar</a>
					</div>
					<div class="col col-25"></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
