<div class="page invisible" ng-class="{invisible: !flow.showPage, 'ng-hide': flow.hidePage}">
  <ion-content class="page-content invite-content">
      <div class="invite-msg">
        <img src="images/daterito2.png" />
        <p>¡Avísale a tus amigos, que también se pongan a datear!</p>
      </div>
      <div class="botones align-center">
        <button class="button button-balanced icon-left ion-android-share-alt" ng-click="flow.openShare()">Compartir con amigos</button>
      </div>
  </ion-content>
</div>
