
<ion-side-menus>
  <ion-side-menu-content drag-content="false">

    <ion-view class="home-view">
      <ion-header-bar align-title="left" class="bar bar-front" ng-controller="HeaderCtrl" ng-class="{'ng-hide': !header.visible}">
          <button class="button button-icon logo" ng-class="{'ng-hide': header.showBackBtn || header.noButtons}" ng-click="header.toggleSideMenu()">
            <i class="icon ion-android-menu"></i>
              <span><img src="images/datea-logo-movil.png" alt="Logo Datea" height="32"> </span>
          </button>
          <a class="back-btn" ng-click="header.goBack()" ng-class="{'ng-hide': !header.showBackBtn || header.noButtons}">
            <i class="back-icon icon ion-arrow-left-c" ng-class="{'ng-hide': header.stateData.backBtnLabel}"></i> <span class="back-label">{{header.stateData.backBtnLabel || header.backBtnLabel}}</span>
          </a>
          <h1 class="bar-title" ng-class="{'ng-hide': !header.stateData.title}" ng-bind-html="header.stateData.title"></h1>
          <div class="buttons main-menu pull-right" ng-class="{'ng-hide': header.showBackBtn || header.noButtons}">
              <!--<a class="button button-icon icon ion-ios7-bell"></a>-->
              <a class="button button-icon icon first ion-android-home" ng-class="{'active': state.current.name == 'home.hello'}" ng-click="header.poundLink()"></a>
              <a class="button button-icon icon ion-android-notifications" ui-sref="home.notifications"></a>
              <div class="notification-sign" ng-class="{'ng-hide': !header.notify.unreadCount}">{{header.notify.unreadCount}}</div>
          </div>
      </ion-header-bar>

      <div class="dateos-filter absolute-TopLeft" ng-controller="FilterCtrl" ng-class="{opened: filter.showFullSearch, 'ng-hide': !nav.search.visible}">

        <a class="button toggle-main-view" href ng-click="flow.toggleMainView()" ng-class="{'ng-hide': filter.showFullSearch}">
          <i class="icon" ng-class="{map: 'fa fa-list-ul', list: 'icon-pin2'}[nav.vis.current]"></i>
        </a>

        <label class="search-bar item-input" ng-class="{'ng-hide': filter.showFullSearch}" ng-click="filter.showForm(true)">
          <i class="icon lupa ion-ios-search-strong"></i>&nbsp;&nbsp;
          <i class="icon icon-inside {{filter.iconCurrent}}" ng-class="{'ng-hide': query.filter == 'all'}"></i>
          <!--
          <input type="text" placeholder="{{filter.placeholder}}" ng-model="query.inputSearch" ng-click="filter.showForm(true)">
          -->
          <div class="current-search">{{query.inputSearch || filter.placeholder}}</div>
        </label>

        <form class="full-search" novalidate role="form" name="form" ng-if="filter.showFullSearch">

          <div class="autocomplete" ng-class="{'ng-hide': !filter.showAutocomplete}">
                <ion-scroll direction="y" scrollbar-y="true" delegate-handle="scrollComplete">
                    <a class="tag-item" ng-repeat="auto in filter.itemsAutocomplete track by $index" ng-click="filter.refreshInput( auto )">{{auto}}</a>
                </ion-scroll>
            </div>

            <label class="item-input search-field">
              <i class="icon ion-ios-search-strong"></i>
              <input type="text" id="inputSearch" placeholder="buscar frase" ng-model="query.inputSearch" ng-change="filter.printAutocomplete(query.inputSearch)" ng-blur="filter.onSearchBlur()" ng-enter="filter.doSearch()" />&nbsp;&nbsp;
            </label>

            <a class="clear-input" ng-click="filter.clearInput()" ng-class="{'ng-hide': !query.inputSearch}"><i class="icon ion-close"></i></a>

          <p>Filtrar por:</p>

          <div class="button-bar filter-option">
            <a class="button" ng-class="{'follow': 'active'}[query.filter]" ng-click="filter.setFilter('follow')">
              <i class="icon ion-pound"></i><span class="block">lo que sigo</span>
            </a>
            <a class="button" ng-class="{'own': 'active'}[query.filter]" ng-click="filter.setFilter('own')">
              <i class="icon ion-android-person"></i><span class="block">mis dateos</span>
            </a>
            <a class="button" ng-class="{'all': 'active'}[query.filter]" ng-click="filter.setFilter('all')">
              <i class="icon ion-earth"></i><span class="block">Todos</span>
            </a>
          </div>

          
          <div class="buttons">
            <button class="button button-green button-block" ng-click="filter.doSearch()" type="submit">Buscar</button>
          </div>
        </form>

        <div class="search-backdrop" ng-class="{'ng-hide': !filter.showFullSearch}" ng-click="filter.showForm(false)"></div>

      </div>

      <div class="main-content" ng-class="{'toggle-vis' : nav.vis.current == 'list', 'force-map': flow.visForceMap}">
        <div class="content-map" style="height:100%;" ng-class="{'translated': nav.map.translate, 'datear-translated': nav.map.datearTranslate}">
          <div class="home" style="height:100%">
            <div class="homeSI-map-holder" id="homeSI-map-holder" data-tap-disabled="true">
              <leaflet class="leaflet-map" id="leafletHomeSI" defaults="homeSI.leaflet.defaults" markers="homeSI.leaflet.markers" center="homeSI.leaflet.center" width="100%" height="100%" layers="homeSI.leaflet.layers"></leaflet>
              <button class="geolocate-btn map-btn" type="button" ng-click="flow.geolocate()" ng-class="{'ng-hide': nav.map.translate}">
                <i class="icon" ng-class="{'ion-pinpoint': !flow.geolocateLoading, 'fa fa-refresh': flow.geolocateLoading}"></i>
              </button>
              <button class="fitbounds-btn map-btn" type="button" ng-click="flow.fitBounds()" ng-class="{'ng-hide': nav.map.translate}">
                <i class="icon ion-qr-scanner" ></i>
              </button>
            </div>
          </div>
          <div class="update-loading" ng-class="{'ng-hide': !flow.showUpdateLoading}"><div class="licon"></div></div>
          <div class="geosearch-msg" ng-class="{'ng-hide': !flow.geoSearchMsg}">{{flow.geoSearchMsg}}</div>
        </div>
        <div class="dateos-roll" ng-if="nav.vis.current == 'list'">
          <ion-content scroll="true" delegate-handle="mainDateoRoll">
            <ion-refresher
                pulling-text="jala para refrescar..."
                on-refresh="flow.refreshDateoRoll()"
                pulling-icon="ion-arrow-down-c"
                refreshing-icon="ion-refresh"
                refreshing-text="refrescando">
            </ion-refresher>
            <div class="list">
              <a class="item dateo-teaser" ui-sref="home.dateo({dateoId: dateo.id})" ng-repeat="dateo in flow.dateosInRoll | limitTo:flow.showRollNumResults track by dateo.id ">
                <dateo-teaser></dateo-teaser>
              </a>
            </div>
            <div class="load-more" ng-class="{'ng-hide': query.result.length <= flow.showRollNumResults}">
              <button class="button button-outline button-stable" ng-click="flow.showMoreRollResults()">
                Ver más resultados
              </button>
            </div>
          </ion-content>
        </div>
        <div class="no-results" ng-class="{'ng-hide': !homeSI.noResults}"><div>Sin resultados &nbsp;<i class="fa fa-meh-o"></i><br>Intenta de nuevo!</div></div>
        <div class="no-results" ng-class="{'ng-hide': !flow.geolocateError}"><div>Error al ubicar &nbsp;<i class="fa fa-meh-o"></i><br>Revisa tu GPS!</div></div>
      </div>

      <div ui-view="dateo" class="dateo-view"></div>
      <div ui-view="pages" class="pages-view"></div>
      <div ui-view="intro" class="intro-view"></div>

      <a class="button button-datear" ui-sref="home.datear" ng-class="{'ng-hide': !flow.showDatearBtn || nav.datear.editDateo}">
        <span>datear</span>
        <i class="icon-burbuja"></i>
      </a>

      <a class="button button-datear edit ng-hide" ui-sref="home.dateoEdit({dateoId: nav.state.params.dateoId})" ng-class="{'ng-hide': !nav.datear.editDateo || !flow.showDatearBtn}">
        <span>editar</span>
        <i class="icon ion-edit"></i>
      </a>

    </ion-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <!--<ion-header-bar>
           <h1 class="title">Menu</h1>
    </ion-header-bar>-->
      <ion-content>
        <div class="profile-content">
          <div class="head">
          <div class="row-head" ng-style="flow.userBg">
            <div class="uname-wrap" ng-class="{'has-bg': !!flow.userBg}">
              <span class="subt">dater@</span>
              <span class="uname">{{user.username}}</span>
            </div>
            <div class="uimg-wrap">
              <div class="uimg border50" style="background-image: url({{user.image_large | userImg}});"></div>
            </div>
          </div>
          <div class="row stats">
            <div class="col stat stat-dateos" ng-class="{'ng-hide': !user.dateo_count}" ng-click="flow.showMyDateos()" menu-close>
              <div class="stat-inner">
                <i class="icon icon-burbuja stat-icon"></i>
                <div class="stat-text">
                  <div class="num">{{user.dateo_count}}</div>
                  <div class="sub">dateos</div>
                </div>
              </div>
            </div>
            <div class="col stat stat-comments" ng-class="{'ng-hide': !user.comment_count}" menu-close>
              <div class="stat-inner">
                <i class="fa fa-comment-o stat-icon"></i>
                <div class="stat-text">
                  <div class="num">{{user.comment_count}}</div>
                  <div class="sub">comentarios</div>
                </div>
              </div>
            </div>
            <div class="col stat stat-votes" ng-class="{'ng-hide': !user.voted_count}" menu-close>
              <div class="stat-inner">
                <i class="fa fa-thumbs-o-up stat-icon"></i>
                <div class="stat-text">
                  <div class="num">{{user.voted_count}}</div>
                  <div class="sub">me apoyan</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list">
        <a class="item item-icon-left" menu-close ui-sref="home.hello"><i class="icon ion-home"></i>Inicio</a>
        <a class="item item-icon-left" menu-close ui-sref="home.campaigns"><i class="icon ion-pound"></i>Buscar iniciativas</a>
        <a class="item item-icon-left" menu-close ui-sref="home.invite"><i class="icon ion-android-people"></i>Invitar amigos</a>
        <a class="item item-icon-left" menu-close ui-sref="home.account"><i class="icon ion-gear-a"></i>Configuración de cuenta</a>
        <a class="item item-icon-left" menu-close ng-click="flow.signOut()"><i class="icon ion-log-out"></i>Salir</a>
      </div>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
