<div class="page invisible" ng-class="{invisible: !flow.showPage, 'ng-hide': flow.hidePage}">
	<ion-content class="notifications-content">

		<div class="notifications">
			<!-- <h4>Notificaciones</h4> -->
			<div class="list notification-list" ng-show="notifications.result.length">
			    <a ng-repeat="notf in notifications.result track by notf.id" class="item item-avatar" href="#{{::notf.url}}">
			      <img class="border50" ng-src="{{::notf.actor_img | userImg}}" />
				  <div class="title">{{::notf.title}}</div>
			      <p class="extract">{{::notf.data.extract}}</p>
			      <div ng-class="{'ng-hide': !notf.unread}" class="is-new"></div>
			    </a>
			</div>
			<div class="load-more" ng-class="{'ng-hide': notifications.result.length >= notifications.total}">
				<button class="button button-outline button-stable" ng-click="flow.moreNotifications()">
				  Ver más resultados
				</button>
			</div>
			<div class="no-results text-center" ng-class="{'ng-hide': notifications.result.length && !flow.loading}">
				Actualmente, no tienes notificaciones.
			</div>
		</div>
	</ion-content>
	<div class="account-form" ui-view="accountForm"></div>
</div>
